# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Tests
coverage
.nyc_output

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv
.env
.env.*.local
!.env.example

# Temp
*.tsbuildinfo
.eslintcache

# Prisma
prisma/migrations/migration_lock.toml.bak
